<%= form_with(model: day, local: true, :html => {:class => "form-horizontal center"}) do |form| %>
  <% if day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <p><%= form.label :title, "Title of the day", class: "control-label" %></p>
    </p><%= form.text_area :title, class: "control-label" %></p>
  </div>

  <div class="form-group">
    <p><%= form.label :summary, "Summary of the day" %></p>
    <p><%= form.text_area :summary %></p>
  </div>

  <div class="form-group">
    <p><%= form.submit 'Create the day', :class => 'btn btn-success' %></p>
  </div>
<% end %>
